
body{
    background-image: url("./body-imeg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;    
    
}
.main{
    display: flex;
    order: "left-up-ball";
    order:"left-under-ball";
    order:"container";
    order:"right-up-ball";
    order:"right-under-ball";

}


.left-up-ball{
    background-color: blueviolet;
    border-radius:50%;
    height: 5%;
    width: 10%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.right-up-ball{
    background-color: blueviolet;
    border-radius:50%;
    height: 15%;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: flex-end;

}

.left-under-ball{
    background-color: blueviolet;
    border-radius:50%;
    height: 30%;
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.right-under-ball{
    background-color: blueviolet;
    border-radius:50%;
    height: 20%;
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.main{
    
    width: 100%;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: whitesmoke;
    padding: 20px;
    width: 30vw;
    height: 80%;
     
    display: flex;
    flex-direction: column;
}
   
 .profil-photo{
    background-color: wheat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header{
    background-image:url("./sercl-img-ball.jfif") ;
    background-repeat: no-repeat;
    background-size:cover;
    height:30vh;    
}

#social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}
.mitle-up-header{background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}
.mitle{
    background-color: white;
    height: 70%;
    display: grid;
    
    
    
}

.footer{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    height: 10%;
    align-items: center;
}

.mitle-item{
    display: flex;
    justify-content: space-between;

}
section > nav{
    
        display: flex;
        justify-content: end;
        

}